<!DOCTYPE html>
<html>
<head>
	<title> CLSJ About! </title>
</head>

<body>

	<h1> Cha! </h1>
	<p> I thought that I heard you laughing </p>
	<p> I thought that I heard you sing </p>
	<p>{{screamIt nextVerse}}</p>

<!-- Footer partial -->
{{> footer}}

</body>
</html>



